@media(max-width: 1920px) { 
    .valuestatcont{
        margin-top: 5rem !important;
    }

    .statement-label{
      text-align: right;
    }

    .statement-desc{
      /* height: 31rem; */
    }
    .startCont{
      margin-top: 5rem;
    }
    
    .footerindex{
      margin-top: 15rem !important;
    }
    
} 
  