
.bold{
    font-weight: bold;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* .content{
  background-image: url('../images/KakaoTalk_bg.svg');
  background-color: #F6EFE0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

a{
  text-decoration: none;
}
a:hover{
  color: wheat;
  transition: 0.4s;
}
.main {
  height: auto
}

nav {
  color: #F57600;
}

.btn-bg {
  background-color: #FAD58C;
  border: none;
  color: #F57600;
  transition: 0.4s;
  width: 130px;
  border-radius: 12px;
}

.text-color {
  color: #5C1C2C;
}

.text-style {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 25px;
}

.normal-text-color {
  color: #5C1C2C;
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
}

.image-size {
  width: 39rem;
  height: 5rem;
  margin-top: 3rem;
}

.image-size:hover {
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.6;
}

.bg-color {
  background-color: transparent;
}

.select-label{
    margin-top: 15px !important;
    font-size: 12pt;
    font-weight: bold;
}

.border-button {
  width: 100px;
  border-top-color: #5C1C2C;
  border-bottom-color: #5C1C2C;
  border-radius: 10px;
  border-left: none;
  border-right: none;
  text-align: center;
  color: #5C1C2C;
  padding: 0.7rem;
}

.border-button:hover {
  cursor: pointer;
  border: 1px solid #5C1C2C;
  border-radius: 10px;
  transition: 0.4s;
  opacity: 0.4;
}

.text-label-drop-down {
  color: #5C1C2C;
  float: left;
  margin-right: 2rem;
  margin-top: 0.2em;
}
nav{
    width: 100% !important;
}
.navlist{
    right: 0 px !important;
    width: auto !important;
    padding: 0 !important;
}
.navbar-brand{
    font-weight: bold;
}
.logo{
    margin: auto;
    color: #5C1C2C !important;
}
.startbut{
    width: 7% !important;
    margin: 20px auto 0 !important;
}
.startbut:hover{
    cursor: pointer;
}
.footer{
  margin-top: 10%!important;
  margin-bottom: 5% !important;
}

.header-logo{
  margin: 3rem 2rem 2rem 15rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin-left: 2rem;
  background-color: #5C1C2C;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover{
  cursor: pointer;
}


.header-text-container{
 background:linear-gradient(90deg, #FAD58C 43.13%, rgba(250, 213, 140, 0) 93.33%);
}


.next-page-indicator a:hover{
  color: orange;
  transition: 0.4s ease-in-out;
 }

.body-text{
  padding-left: 15rem;
  font-weight: bold;
  font-size:20px;
}

.card-title-t{
  background-color: #F9E4B2;
}
.card-title-t h5{
  font-weight: bold;
}
.card-body{
  background-color: white;
}
.card-height{
  height: 50px;
  font-size: 0.7rem;
  font-weight: bold;
}

.card:hover{
  cursor: pointer;
}

.agree-question-component{
  background: #FFCC4A47;
  border-radius: 18px;
}
.disagree-question-component{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 18px;
}

.question-card{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 18px;  

}

.checkbox:hover{
  cursor: pointer;
}
.question-stat-card:hover{
  border: 1px solid orange;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 18px;  
}


.border{
  border: 6px solid #FFD772 !important;
  border-radius: 14px !important;
}


.picture-image:hover{
  cursor: pointer;
  transition: 0.6s;
  border: 1px solid !important;
}

@media (min-width: 1200px) {
  .header-text{
    margin-left: 10rem;
  }

}

@media (min-width: 576px) {
  .header-text{
    text-align: center;
  }

  .next-page-indicator a{
    text-decoration: none; 
    margin-left: 1rem;
    font-weight: bold;
  }
 
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}
